<!-- notify-row start
-->
<div class="nav notify-row" id="top_menu">
  <!-- notification start
  -->
  <!--/= render 'layouts/shared/notifications'
  -->
  <!-- notification end
  -->
</div>
<!-- notifiy-row end
-->
<!-- top-nav start
-->
<div class="top-nav hidden-xs">
  <ul class="nav pull-right top-menu">
    <li>
      <%= render 'members/search' %>
    </li>
  </ul>
</div>
<!-- top-nav end
-->
