<% flash.each do |key, value| %>
  <div class="alert alert-block <%= flash_class(key) %> fade in">
    <button class="close close-sm" data-dismiss="alert" type="button">
      <i class="fa fa-times"></i>
    </button>
    <%= value %>
  </div>
<% end %>
