<ul class="nav top-menu">
  <!-- notification dropdown start
  -->
  <li class="dropdown" id="header_notification_bar">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-bell"></i>
      <span class="badge bg-success">7</span>
    </a>
    <ul class="dropdown-menu extended notification"></ul>
  </li>
  <!-- notification dropdown end
  -->
</ul>
