<div class="col-lg-4">
  <div class="panel">
    <div class="panel-heading">
      <%= link_to 'Top 10 Fuentes', sources_path %>
    </div>
    <div class="panel-body">
      <%= pie_chart dashboard_sources_path %>
    </div>
  </div>
</div>
