<%= form_tag members_path, class: "form-inline", method: :get do %>
  <div class="form-group">
    <div class="col-lg-10">
      <%= text_field_tag :query, params[:query], type: 'search', class: 'form-control', placeholder: "Buscar Miembros" %>
    </div>
  </div>
<% end %>
