  Hello #{@resource.email}!
</div>


<p>Alguien solicitó un vínculo para cambiar la contraseña. Puede hacerlo mediante el siguiente vínculo.</p>
<p>
  <%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %>
</p>

<p>Si usted no lo ha solicitado, por favor ignore este correo.</p>
<p>Su contraseña no podrá ser cambiada hast que usted no accesse al vínculo antes indicado y cree uno nuevo.
  <%= render 'form' %>
</p>
